<!DOCTYPE html>

{% load static %}

<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HannaShop N   ature">
    <meta name="author" content="dlunna">

    <title>{% block titulo %} {% endblock %}</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/twbs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/templatemo-klassy-cafe.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/lightbox.css' %}">
  </head>

    <body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'core/images/hshop_brand.jpg' %}" align="Hanna Shop MX">
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'home'%}#top" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="{% url 'home'%}#about">Acerca de</a></li>
                            <li class="scroll-to-section"><a href="{% url 'home'%}#productos">Productos</a></li>
                            <li class="scroll-to-section"><a href="{% url 'home'%}#puntos">Puntos de venta</a></li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="{% url 'home'%}#reservation">Pedidos</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    {% block contenido %}
    {% endblock %}


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/hannashop.pachuca"><i class="fa fa-facebook"></i></a></li>
                                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                                <li><a href="https://www.instagram.com/hannashopnatural/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <!--<a href="index.html"><img src="{% static 'core/assets/images/white-logo.png' %}" alt=""></a>-->
                        <a href="index.html">
                            <img src="{% static 'core/images/hshop_brand.jpg' %}" align="Hanna Shop MX" width="80" height="80">
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>&copy HannaShop Nature {% now "Y" %}<br>
                        TemplateMo<br>
                            <a href="{% url 'webmaster' %}">Webmaster</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'core/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'core/assets/js/popper.js' %}"></script>
    <script src="{% static 'core/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>


    <!-- Plugins -->
    <script src="{% static 'core/assets/js/accordions.js' %}"></script>
    <script src="{% static 'core/assets/js/datepicker.js' %}"></script>
    <script src="{% static 'core/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'core/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'core/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'core/assets/js/slick.js' %}"></script>
    <script src="{% static 'core/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'core/assets/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'core/assets/js/custom.js' %}"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>
  </body>
</html>