<!DOCTYPE html>
<html lang="es">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HannaShop Salud Belleza">
    <meta name="author" content="dlunna">

    <title>{% block titulo %} {% endblock %}</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/twbs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/templatemo-klassy-cafe.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/lightbox.css' %}">
  </head>
    
    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'core/images/hshop_brand.jpg' %}" align="Hanna Shop MX">
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">Acerca de</a></li>
                           	
                        
                            <li class="scroll-to-section"><a href="#menu">Productos</a></li>
                            <li class="scroll-to-section"><a href="#chefs">Puntos de venta</a></li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="#reservation">Pedidos</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <!--
                            <h4>KlassyCafe</h4>
                            <h6>THE BEST EXPERIENCE</h6>
                            <div class="main-white-button scroll-to-section">
                                <a href="#reservation">Make A Reservation</a>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">

                    <div class="main-banner header-text">
                        


                       <!-- inicio carousel --> 
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
            <div class="img-fill">
                                <img src="{% static 'core/images/slide-01.png' %}" alt="Slider1">
            </div>
      </div>
      <div class="carousel-item">
            <div class="img-fill">
                                <img src="{% static 'core/images/slide-02.png' %}" alt="Slider2">
            </div>
      </div>
      <div class="carousel-item">
            <div class="img-fill">
                                <img src="{% static 'core/images/slide-03.png' %}" alt="Slider3">
            </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- fin carousel -->





                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Acerca de</h6>
                            <h2>Salud, belleza y algo más ...</h2>
                        </div>
                        <p>Hanna Shop {% lorem 2 %}
                        {% block contenido %}{% endblock %}</p>
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'core/images/about-thumb-01.png' %}" alt="Photo by freestocks on Unsplash">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'core/images/about-thumb-02.png' %}" alt="Photo by Julian Florez on Unsplash">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'core/images/about-thumb-03.png' %}" alt="Photo by Ryan 'O' Niel on Unsplash">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <!--
                            <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                            <img src="{% static 'core/assets/images/about-video-bg.jpg' %}" alt="">
                            -->
                            <iframe width="540" height="507" src="https://www.youtube.com/embed/htZb4EVJIBU" title="Hanna" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->







    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="menu">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">

                        <h6>Productos</h6>
                        <h2>Catalogo de productos</h2>
                    </div>
                </div>
            </div>
        </div>


        <!-- otro carrusel -->

        <!-- otro carrusel fin -->



        <!-- carousel card START -->

<div class="container">

    <div class="row">


            <div class="col-12">

                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="bálsamo labial" src="{% static 'core/images/producto-01.png' %}">
                                        <div class="card-body">
                                            <h4 class="card-title">Bálsamo labial humectante</h4>
                                            <p class="card-text">Con manteca de cacao, karité y vitamina E</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="sérum anti-edad" src="{% static 'core/images/producto-02.png' %}">
                                        <div class="card-body">
                                            <h4 class="card-title">Sérum anti-edad Fórmula con GOTU KOLA y ÁCIDO HIALURÓNICO</h4>
                                            <p class="card-text">Gotas herbales fáciales, sus ingredientes son conocidos por sus propiedades hidratantes, lubricantes y suavizantes que actúan sobre las líneas profundas de expresión.
</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="shampoo" src="{% static 'core/images/producto-03.png' %}">
                                        <div class="card-body">
                                            <h4 class="card-title">Shampoo Yeguada la Reserva</h4>
                                            <p class="card-text">Detiene caída, estimula crecimiento, regenera tu cuerpo cabelludo, elimina caspa, sebo, grasa, resequedad, producto libre de parabenos y sulfatos</p>
                                        </div>
                                    </div>
                                </div>

                            </div>


            </div>

    </div>
</div>

        <!-- carousel card ENDs -->




    </section>
    <!-- ***** Menu Area Ends ***** -->




    <!-- ***** Chefs Area Starts ***** -->
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Puntos de venta</h6>
                        <h2>Ven visita nuestros puntos de distribución </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/EcopipoDulceMami"><i class="fa fa-facebook"></i></a></li>
                                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                            </ul>
                            <img src="{% static 'core/images/store-01.png' %}" alt="Dulce Mami">
                        </div>
                        <div class="down-content">
                            <h4>Dulce Mami</h4>
                            <span>Plaza el Dorado, Col. Centro Pachuca Hidalgo.<br>
                            771 354 5746, horario de 10:00 a 18:00 horas</span>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <img src="{% static 'core/images/store-02.png' %}" alt="Coffe Park">
                        </div>
                        <div class="down-content">
                            <h4>Coffe Park</h4>
                            <span>Quita Bonita, Mineral de la Reforma Hidalgo<br>
                                Horario 9 a 22 horas</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                            </ul>
                            <img src="{% static 'core/images/store-03.png' %}" alt="Próximamente">
                        </div>
                        <div class="down-content">
                            <h4>Próximamente</h4>
                            <span>=)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** -->






    <!-- ***** Precios productos Start ***** -->
    <!--
    <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Recomendación del mes ...</h6>
                        <h2>Promociones disponibles para el mes de Agosto</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <ul>
                                          <li><a href='#tabs-1'><img src="{% static 'core/assets/images/tab-icon-01.png' %}" alt="">Breakfast</a></li>
                                          <li><a href='#tabs-2'><img src="{% static 'core/assets/images/tab-icon-02.png' %}" alt="">Lunch</a></li>
                                          <li><a href='#tabs-3'><img src="{% static 'core/assets/images/tab-icon-03.png' %}" alt="">Dinner</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-01.png' %}" alt="">
                                                            <h4>Fresh Chicken Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$10.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-02.png' %}" alt="">
                                                            <h4>Orange Juice</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$8.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-03.png' %}" alt="">
                                                            <h4>Fruit Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$9.90</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-04.png' %}" alt="">
                                                            <h4>Eggs Omelette</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$6.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-05.png' %}" alt="">
                                                            <h4>Dollma Pire</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$5.00</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-06.png' %}" alt="">
                                                            <h4>Omelette & Cheese</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$4.10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-04.png' %}" alt="">
                                                            <h4>Eggs Omelette</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$14</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-05.png' %}" alt="">
                                                            <h4>Dollma Pire</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$18</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-06.png' %}" alt="">
                                                            <h4>Omelette & Cheese</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$22</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-01.png' %}" alt="">
                                                            <h4>Fresh Chicken Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-02.png' %}" alt="">
                                                            <h4>Orange Juice</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$20</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-03.png' %}" alt="">
                                                            <h4>Fruit Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$30</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                <article id='tabs-3'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-05.png' %}" alt="">
                                                            <h4>Eggs Omelette</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$14</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-03.png' %}" alt="">
                                                            <h4>Orange Juice</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$18</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-02.png' %}" alt="">
                                                            <h4>Fruit Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-06.png' %}" alt="">
                                                            <h4>Fresh Chicken Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$8.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-01.png' %}" alt="">
                                                            <h4>Dollma Pire</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$9</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="{% static 'core/assets/images/tab-item-04.png' %}" alt="">
                                                            <h4>Omelette & Cheese</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$11</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>   
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- ***** Precios productos Ends ***** -->







    <!-- ***** Reservation Us Area Starts ***** -->
    <section class="section" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Realiza tus pedidos al ...</h6>
                            <h2>Nuestros productos hasta tu hogar</h2>
                        </div>
                        <p>{% lorem 1 %}</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Whatsapp</h4>
                                    <span>
                                        <a href="https://api.whatsapp.com/send?phone=527712797580&text=Hola%20bienvenido%20a%20HannaShop">7712794580</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">hannashopmx@gmail.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">


                    


                </div>
            </div>
        </div>
    </section>
    <!-- ***** Reservation Area Ends ***** -->



    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <!--<a href="index.html"><img src="{% static 'core/assets/images/white-logo.png' %}" alt=""></a>-->
                        <a href="index.html"><img src="{% static 'core/images/hshop_brand.jpg' %}" align="Hanna Shop MX"></a>

                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>&copy HannaShop.
                        
                        <br>TemplateMo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'core/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'core/assets/js/popper.js' %}"></script>
    <script src="{% static 'core/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    

    <!-- Plugins -->
    <script src="{% static 'core/assets/js/accordions.js' %}"></script>
    <script src="{% static 'core/assets/js/datepicker.js' %}"></script>
    <script src="{% static 'core/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'core/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'core/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'core/assets/js/slick.js' %}"></script>
    <script src="{% static 'core/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'core/assets/js/isotope.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'core/assets/js/custom.js' %}"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
  </body>
</html>