{% extends 'core/base.html' %}

{% block titulo %} HannaShop Natural {% endblock %}

{% load static %}

{% block contenido %}

    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="menu">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <br>
      <br>
      <hr>
                        <h6>Webmaster</h6>
                        <h2>dlunna@gmail.com</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Fin de webmaster -->

{% endblock %}